<div data-role="view" data-title="pinlogin"  data-layout="main-nonav" data-model="app.pinlogin" data-show="app.pinlogin.onShow" data-after-show="app.pinlogin.afterShow" id="pinloginScreen" class="screen">
    <header class="header">
        <span class="header-logo">
            Walmart <img src="Material/images/walmartlogo.png" style="display:inline;width:1.5em;height:1.5em;"/> SPARK 2.0
        </span>
    </header>
    <div class="content">
        <div class="content-heading">
        </div>
        <div class="content-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-lg-push-4 col-md-push-3 col-md-5 col-sm-5 col-sm-push-3">
                        <div class="card-wrap">
                            <div class="card">
                                <div class="card-main">
                                    <div class="card-header">
                                        <div class="card-inner">
                                            <h1 class="card-heading">PIN Login</h1>
                                        </div>
                                    </div>
                                    <form class="form col-sm-push-1" id="loginpin">
                                        <div class="row align-center">
                                            <div class="col-sm-10 col-sm-push-1">
                                                <table class="table text-center" id="pininput">
                                                    <tr>
                                                        <td><input class="form-control" id="i" maxlength="1" data-bind="value: pinModel.a" onkeyup="moveOnMax(this,'j')" type="password"></td>
                                                        <td><input class="form-control" id="j" maxlength="1" data-bind="value: pinModel.b" onkeyup="moveOnMax(this,'k')" type="password"></td>
                                                        <td><input class="form-control" id="k" maxlength="1" data-bind="value: pinModel.c" onkeyup="moveOnMax(this,'l')" type="password"></td>
                                                        <td><input class="form-control" id="l" maxlength="1" data-bind="value: pinModel.d" type="password"></td>
                                                        <td><a class="waves-button waves-effect" href="javascript:void(0);" onclick="deleteme()"><span class="icon icon-lg icon-backspace"></span></a></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row align-center">
                                            <div class="col-sm-10 col-sm-push-1">
                                                <table class="table text-center" id="pinkeyboard">
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-flat btn-blue  pinkeyboard waves-button waves-effect"  onclick="clickme(this,1)">1</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-flat btn-blue pinkeyboard waves-button waves-effect" onclick="clickme(this,2)">2</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-flat btn-blue pinkeyboard waves-button waves-effect"  onclick="clickme(this,3)">3</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-flat btn-blue pinkeyboard waves-button waves-effect"  onclick="clickme(this,4)">4</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-flat btn-blue pinkeyboard waves-button waves-effect" onclick="clickme(this,5)">5</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-flat btn-blue pinkeyboard waves-button waves-effect"  onclick="clickme(this,6)">6</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-flat btn-blue pinkeyboard waves-button waves-effect" onclick="clickme(this,7)">7</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-flat btn-blue pinkeyboard waves-button waves-effect" onclick="clickme(this,8)">8</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-flat btn-blue pinkeyboard waves-button waves-effect" onclick="clickme(this,9)">9</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-flat btn-blue pinkeyboard waves-button waves-effect" onclick="clickme(this,0)">0</a>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-flat btn-blue pinkeyboard waves-button waves-effect" id="resetme" type="reset">Clear</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
     #pininput td, #pinkeyboard td{
        border: none;
    }

    #pininput input{
        text-align: center;
        font-size: 30px;
    }
    #pinkeyboard a {
        border-radius: 999px;
        width: 3em;
        height:3em;
    }
</style>
<script>
    $(document).ready(function () {
        moveOnMax = function (field, nextFieldID) {
            if (field.value.length == 1) {
                document.getElementById(nextFieldID).focus();
            }
        }

        var arr = ["i", "j", "k", "l"];

        clickme = function (field, value) {
            for (var i = 0; i < arr.length; i++) {
                var field1 = $("#" + arr[i]);
                var fieldVal = field1.val();
                if (fieldVal.length == 1) {
                } else {
                    field1.val(value);
                    if (i + 1 == arr.length) {
                        var pinlogin = "";
                        for (var j = 0; j < arr.length; j++) {
                            var field2 = $("#" + arr[j]).val();
                            pinlogin += field2;
                        }

                        var pin = localStorage.getItem("setpin");
                        if (pin == pinlogin) {
                            $("#resetme").click();
                            app.mobileApp.navigate("components/dash/view.html");
                        } else {
                            app.showNotification("PIN incorrect");
                            $("#resetme").click();
                        }
                    }

                    break;
                }
            }
        }

        deleteme = function () {
            for (var i = arr.length - 1; i >= 0 ; i--) {
                var field1 = $("#" + arr[i]);
                var fieldVal = field1.val();
                if (fieldVal.length == 1) {
                    field1.val("");
                    break;
                }
            }
        }
    });
</script>